<div class="wrapper">
  <div class="weather-app" *ngIf="!isLoading">
    <div class="header">
      <div class="header-title">
        <p class="title">weatherwide</p>
        <p class="time">{{ date | date : "hh:mm" }}</p>
        <p class="user-city">
          {{ userCity }}
        </p>
      </div>
      <div class="weather-current">
        <div class="weather-svg">
          <span class="material-symbols-outlined" [appSvgPath]="currentWeather.weatherCode!">
            </span>
        </div>
        <div class="weather-current-details">
          <p class="weather-details-temp">{{ currentWeather.temperature }}°C</p>
          <p class="weather-details-wind">
            <span class="weather-details-windspeed"> {{ currentWeather.windSpeed }} м/c </span>
            <span class="weather-details-winddir"> {{ currentWeather.windDirrection | windDirrection }} </span>
          </p>
        </div>
      </div>
    </div>
    <div class="weather-hourly">
      <div class="weather-hourly-item" *ngFor="let item of hourlyWeather">
        <span class="weather-hourly-time"> {{ item.time | date:'hh:mm' }} </span>
        <div class="weather-svg">
          <span class="material-symbols-outlined" [appSvgPath]="item.weatherCode!">
            
            </span>
        </div>
        <span class="weather-hourly-temp"> {{ item.temperature }}°C</span>
      </div>
    </div>
  </div>
  <app-preloader *ngIf="isLoading"></app-preloader>
</div>
